@import '../../globalStyles.css';

.textButton {
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

.classic {
    color: var(--blue);
}

.gray {
    color: var(--gray);
}

.danger {
    color: var(--red);
}
