@import '../../globalStyles.css';

.label {
    display: block;
    margin-bottom: 0.25rem;
}

.input {
    display: block;
    width: 100%;
    height: 30px;
    color: var(--black);
    border: none;
    border-bottom: 1px solid var(--blue);
} 

.input[type="search"]::-webkit-search-decoration,
.input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-results-button,
.input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
}

.input::placeholder {
    color: var(--gray);
    opacity: 0.4;
}

.input:focus {
    color: var(--black);
    outline: 0;
}

.inputWrapper {
    position: relative;
}

.inputWrapper .label {
    position: absolute;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: var(--white);
    color: var(--gray);
    transition: top 0.1s ease-in-out;
}

.inputWrapper .input::-moz-placeholder {
    color: transparent;
}

.inputWrapper .input::placeholder {
    color: transparent;
}

.inputWrapper .input:focus~.label,
.inputWrapper .input:not(:placeholder-shown)~.label {
    top: 0;
    transform: translateY(-50%);
}
