{
  "extends": "stylelint-config-recommended",
  "ignoreFiles": ["dist/**/*"],
  "rules": {
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-pseudo-element-colon-notation": "double"
  }
}