@import '../../globalStyles.module.css';

.formWrapper {
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.small {
    min-height: 450px;
}

.big {

    min-height: 615px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0 40px;
    text-align: center;
    color: var(--black);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

.signInFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    align-items: center;
    margin-top:auto;
}
