@import '../../globalStyles.css';

.layoutError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorCode {
    margin-bottom: 20px;
}

.errorText {
    margin-bottom: 70px;
}