.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form { 
    width: 510px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.profilePicture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightGray);
    margin-bottom: 21px;
}

.profileTitle {
    margin-bottom: 60px;
}

.buttonBlock {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    text-align: left;
}

.back {
    position: absolute;
    cursor: pointer;
    left: 0;
    background: var(--darkWhite);
    border: none;
    border-right: 1px solid var(--lightGray);
    height: 100%;
    width: 64px;
}

.back a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.back img {
    transform: scale(-1,-1);
}
