.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profilePicture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightGray);
    margin-bottom: 21px;
}

.profileTitle {
    margin-bottom: 60px;
}

.buttonBlock {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    text-align: left;
}