@import '../../globalStyles.module.css';

.wrapper {
    padding:0 10px;
}

.wrapper:hover {
    cursor: pointer;
    background: var(--lightBLue);
}

.chat {
    display: flex;
    align-items: flex-start;
    padding: 12px 0;

}

.avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #EFEFEF;
    margin-right: 10px;
}

.info {
    max-width: 193px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
}

.message {
    max-width: 193px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.time {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.previewLine {
    width: 290px;
    left: 10px;
    top: 102px;
}
