@import '../../globalStyles.css';


.back {
    position: absolute;
    cursor: pointer;
    left: 0;
    background: var(--darkWhite);
    border: none;
    border-right: 1px solid var(--lightGray);
    height: 100%;
    width: 64px;
}

.back a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.back img {
    transform: scale(-1,-1);
}
