@import '../../globalStyles.module.css';

.uploadInputWrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.inputFile {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}


.uploadInputButton {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    background: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}

.backgroundImg {
    position: absolute;
    top: 45px;
    left: 45px;
}
