@import '../../globalStyles.module.css';

.form {
    width: 510px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.buttonBlock {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    text-align: left;
}