.messageText {
    color: var(--black);
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.mainInfo {
    padding: 11px;
    margin: 16px 8px;
    border-radius: 8px;
    width: fit-content;
}

.myMessage {
    background-color: var(--lightBLue);
    margin-left: auto;
}

.othersMessage {
    background-color: var(--lightGray);
}

.timeText {
    margin: 11px 0 0 11px;
}
